<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>ControlNutrition</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>  
  <body background="{% static 'img/saludnutricional.jpg' %}" >
    <style>
        body{
            background-repeat: no-repeat; 
            background-size:100% 100%; 
        }
    </style>
    
    <div class="container">
        <br><br>
        <center>
        <div class="card col-md-6">
            <div class="card-header">
                <center>
                <h3>CONTROL NUTRITION</h3>
                <h4>Bienvenido (a)</h4>
                Acceder:
                </center>
            </div>
            <div class="row text-center">
                <div class="card-body ">
                    <div class="col-md-12">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Usuario:</label>
                                    <input type="text" class="form-control" placeholder="Nombre del Usuario" name="username" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Contraseña:</label>
                                    <input type="password" class="form-control" placeholder="Contraseña" name="password" required/>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                                </div>
                            </div>
                            <br>
                            {% if messages %}
                            {% for msg in messages %}
                            <b>{{msg}}</b>
                            {% endfor %}
                            {% endif %}
                            <hr/>
                            <em></em>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </center>
    </div>
    </body>
</html>