<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="../templates/assets/css/bootstrap.min.css">-->
    <!--/controlNutrition/templates/assets/css/bootstrap.min.css-->
    <!--<link rel="stylesheet" type="text/css" href="/controlNutrition/templates/assets/css/font-awesome.min.css">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">    

    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="index-2.html" class="logo">
                    
					<img src="{% static 'img/logo.png' %}" width="35" height="35" alt=""> <span>ControlNutrition</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>

            <ul class="nav user-menu float-right">
                

               
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="{% static 'img/user.jpg' %}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span>Admin</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li>
                            <a href="{%url 'index' %}"><i class="fa fa-dashboard"></i> <span>Inicio</span></a>
                        </li>
						<li class="active">
                            <a href="{% url 'allNutricionista' %}"><i class="fa fa-user-md"></i> <span>Nutricionistas</span></a>
                        </li>
                        <li>
                            <a href="{% url 'allPacientes' %}"><i class="fa fa-wheelchair"></i> <span>Pacientes</span></a> 
                        </li>
                        
                        <li>
                            <a href="schedule.html"><i class="fa fa-calendar-check-o"></i> <span>Diagnostico</span></a>
                        </li>
                        <li>
                            <a href="{% url 'seguimiento' %}"><i class="fa fa-calendar"></i> <span>Seguimiento paciente</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">

                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h2>Editar Nutricionista</h2>
                        <br>
                        <h4 class="page-title">Datos Personales</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 offset-lg-2">

                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Nombres <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name="nombre">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <input class="form-control" type="text" name="apellido">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Profesion <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name="profesion">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Celular </label>
                                        <input class="form-control" type="text" name="celular">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Teléfono </label>
                                        <input class="form-control" type="text" name="telefono">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <input class="form-control" type="email" name="email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Departamento</label>
                                        <input class="form-control" type="text" name="departamento">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <input class="form-control" type="text" name="ciudad">
                                    </div>
                                </div> 
                                
                                                         
                                
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Usuario</label>
                                        <input class="form-control" type="text" name="usuario">
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label>Rol</label>
                                        <select class="form-control select" name="rol">
                                            <option>-- Seleccionar --</option>
                                            <option>Nutricionista</option>
                                            <option>Admin</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input class="form-control" type="password" name="password">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Confirmar Contraseña</label>
                                        <input class="form-control" type="password">
                                    </div>
                                </div>                              
                                			                                                               
                            </div>
                            
                            {% if messages %}
                                    {% for msg in messages %}
                                    <b>{{msg}}</b>
                                    {% endfor %}
                                    {% endif %}
                                    <hr/>
                                    <em></em>

                            <div>
                                <button type="submit" class="btn btn-success">Guardar Cambios</button>                                
                                <a href="{% url 'allNutricionista' %}" class="btn btn-danger">Cancelar</a>
                            </div>
                           
                        </form>
                    </div>
                </div>

                <!--
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <br><br>                        
                        <h4 class="page-title">Usuario para ingresar al Sistema</h4>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form>
                            <div class="row">
                                
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Usuario</label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label>Rol</label>
                                        <select class="form-control select">
                                            <option>-- Seleccionar --</option>
                                            <option>Nutricionista</option>
                                            <option>Admin</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input class="form-control" type="password">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Confirmar Contraseña</label>
                                        <input class="form-control" type="password">
                                    </div>
                                </div>
							                                							                               

                            </div>

							
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Crear Nutricionista</button>
                            </div>

                        </form>
                    </div>
                </div>
                -->      
							

            </div>


        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <div class="sidebar-overlay" data-reff=""></div>
    
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/Chart.bundle.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

</body>


</html>
