<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        
        <link href="bootstrap-datetimepicker.min.css">
        <script src="bootstrap-datetimepicker.min.js"></script>

        <meta charset="UTF-8">
        <title>Registro Paciente</title>
    </head>
    <body>
        
    </body>
    
</html> -->




<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>ControlNutrition</title>
    
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="../templates/assets/css/bootstrap.min.css">-->
    <!--/controlNutrition/templates/assets/css/bootstrap.min.css-->
    <!--<link rel="stylesheet" type="text/css" href="/controlNutrition/templates/assets/css/font-awesome.min.css">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">    

    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="index-2.html" class="logo">
                    
					<img src="{% static 'img/logo.png' %}" width="35" height="35" alt=""> <span>ControlNutrition</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>

            <ul class="nav user-menu float-right">
                

               
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="{% static 'img/user.jpg' %}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span>Admin</span>
                    </a>
					<div class="dropdown-menu">
						<!-- <a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a> -->
						<a class="dropdown-item" href="{%url 'login' %}">Cerrar Sesión</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li>
                            <a href="{%url 'index' %}"><i class="fa fa-dashboard"></i> <span>Inicio</span></a>
                        </li>
						<li>
                            <a href="{% url 'allNutricionista' %}"><i class="fa fa-user-md"></i> <span>Nutricionistas</span></a>
                        </li>
                        <li class="active">
                            <a href="{% url 'allPacientes' %}"><i class="fa fa-wheelchair"></i> <span>Pacientes</span></a> 
                        </li>
                        
                        <li>
                            <a href="{% url 'diagnostico' %}"><i class="fa fa-calendar-check-o"></i> <span>Diagnostico</span></a>
                        </li>
                        <li>
                            <a href="{% url 'seguimiento' %}"><i class="fa fa-calendar"></i> <span>Seguimiento paciente</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h2>Nuevo Paciente</h2>
                        <br>
                        <h4 class="page-title">Datos Personales</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 offset-lg-2">

                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Nombres <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name="nombrePaciente"{% if paciente %} value="{{ paciente.nombres }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <input class="form-control" type="text" name="apellido" {% if paciente %} value="{{ paciente.apellidos }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Apoderado <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name="apoderado" {% if paciente %} value="{{ paciente.apoderado }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Celular </label>
                                        <input class="form-control" type="text" name="celular" {% if paciente %} value="{{ paciente.celular }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>DNI </label>
                                        <input class="form-control" type="text" name="dni" {% if paciente %} value="{{ paciente.dni }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email del Apoderado<span class="text-danger">*</span></label>
                                        <input class="form-control" type="email" name="email" {% if paciente %} value="{{ paciente.email }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Provincia</label>
                                        <input class="form-control" type="text" name="provincia" {% if paciente %} value="{{ paciente.provincia }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Distrito</label>
                                        <input class="form-control" type="text" name="distrito" {% if paciente %} value="{{ paciente.distrito }}"{% endif %}>
                                    </div>
                                </div> 
                                                                                                                         
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Fecha Nac</label>
                                        <input size="16" type="date" name="fecha" class="form-control" id="datetime" {% if paciente %} value="{{ paciente.fechaNacimiento|date:"c" }}"{% endif %}>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Peso </label>
                                        <input class="form-control" type="text" name="peso" {% if paciente %} value="{{ paciente.peso|stringformat:"s"  }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Talla </label>
                                        <input class="form-control" type="text" name="talla" {% if paciente %} value="{{ paciente.talla }}"{% endif %}>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Genero </label>
                                        <br>
                                        <input style="width:10%" type="radio" value="M" name="genero" {% if paciente and paciente.genero == 'M' %}checked{% endif %}>Masculino
                                        <input style="width:10%" type="radio" value="F" name="genero" {% if paciente and paciente.genero == 'F' %}checked{% endif %}>Femenino
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Edad </label>
                                        <input class="form-control" type="text" name="edad" {% if paciente %} value="{{ paciente.edad }}"{% endif %}>
                                    </div>
                                </div>                                                                                      
                                			                                                               
                            </div>
                            
                            {% if messages %}
                                    {% for msg in messages %}
                                    <b>{{msg}}</b>
                                    {% endfor %}s
                                    {% endif %}
                                    <hr/>
                                    <em></em>

                            <div>
                                <button type="submit" class="btn btn-success">{% if paciente %}Editar{% else %}Registrarse{% endif %}</button>
                                {% if not paciente %}<button type="reset" class="btn btn-warning">Limpiar</button>{% endif %}
                                <a href="{% url 'allPacientes' %}" class="btn btn-danger">Cancelar</a>
                            </div>

                            </div>
                            {% if paciente %}
                            <input type ="hidden" value="{{ paciente.id }}" name="pacienteid">
                            {% endif %}
                           
                        </form>                        

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <div class="sidebar-overlay" data-reff=""></div>
    
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/Chart.bundle.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

</body>
</html>